<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="hunter2_base_gazebo.xacro" />
    
    <!-- <xacro:include filename="lidar.xacro" /> -->

    <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" organize_cloud="false" hz="10" samples="1024" gpu="false">
    	<origin xyz="0 0 0.1" rpy="0 0 0" />
    </xacro:VLP-16>  -->
    
</robot>